<nav>
    <h1>
        <a href="index.html">
            <img src="/images/wildberry-100.png" alt="Wildberry Wood">
        </a>
    </h1>

    <button onclick="document.getElementById('menu').classList.toggle('open')">
        <img src="/images/menu.svg" alt="Menu">
    </button>
    <ul id="menu">
      <li
        {% if page.categories contains "home" %}
          class="current"
        {% endif %}
        >
            <a href="/index.html">
                Home
            </a>
        </li>
      <li
        {% if page.categories contains "about" %}
          class="current"
        {% endif %}
        >
            <a href="/about.html">
                About
            </a>
        </li>
      <li
        {% if page.categories contains "blog" %}
          class="current"
        {% endif %}
        >
            <a href="/blog.html">
                Blog
            </a>
        </li>
      <li
        {% if page.categories contains "sessions" %}
          class="current"
        {% endif %}
        >
            <a href="/sessions.html">
                Sessions
            </a>
        </li>
      <li
        {% if page.categories contains "contact" %}
          class="current"
        {% endif %}
        >
            <a href="/contact.html">
                Contact
            </a>
        </li>
    </ul>
</nav>
